<p id="notice"><%= notice %></p>

<h1>Listing Applies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Distributor</th>
      <th>Project</th>
      <th>Category</th>
      <th>Requirement</th>
      <th>Site</th>
      <th>Facilities</th>
      <th>Address</th>
      <th>Implement time</th>
      <th>Is back</th>
      <th>Is pass</th>
      <th>Is distribute</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
      <tr>
        <td><%= apply.user %></td>
        <td><%= apply.distributor %></td>
        <td><%= apply.project %></td>
        <td><%= apply.category %></td>
        <td><%= apply.requirement %></td>
        <td><%= apply.site %></td>
        <td><%= apply.facilities %></td>
        <td><%= apply.address %></td>
        <td><%= apply.implement_time %></td>
        <td><%= apply.is_back %></td>
        <td><%= apply.is_pass %></td>
        <td><%= apply.is_distribute %></td>
        <td><%= apply.attachment %></td>
        <td><%= link_to 'Show', apply %></td>
        <td><%= link_to 'Edit', edit_apply_path(apply) %></td>
        <td><%= link_to 'Destroy', apply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apply', new_apply_path %>
