<div class="page-header">
  <h3>配送一览</h3>
  <% if cadmin? %>
  <%= link_to("导出到CSV", "#{export_to_excel_applies_path}.csv", class: "btn btn-primary pull-right") %>
  <% end %>
  <%#= link_to("导出到XLS", "#{export_to_excel_applies_path}.xls", class: "btn btn-primary pull-right") %>
</div>

<div class="form-inputs form-inline">
  <%= search_form_for @q do |f| %>
    <div class="form-group col-md-3">
      <%= f.search_field :user_unit_or_category_name_or_project_name_or_implement_time_or_p_serial_cont, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.search_field :implement_time_gt, class: "form-control datetimepicker", placeholder: "实施时间>",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.search_field :implement_time_lt, class: "form-control datetimepicker", placeholder: "实施时间<",autocomplete: "off" %>
    </div>
    <%= f.submit "搜索", class: "btn btn-default" %>
  <% end %>
</div>

<table class="table table-hover apply-index">
  <thead>
    <tr>
      <%= content_tag :th, sort_link(@q, :created_at, '申请时间') %>
      <%= content_tag :th, sort_link(@q, :user_unit, '申请组织') %>
      <%= content_tag :th, sort_link(@q, :category_name, '申报类别') %>
      <%= content_tag :th, sort_link(@q, :project_name, '项目名称') %>
      <%= content_tag :th, sort_link(@q, :implement_time, '实施时间') %>
      <th>审批</th>
      <th>配送</th>
      <th>反馈情况</th>
      <% if cadmin? %>
      <th>操作</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
      <tr class= "applies-font-size">
        <td><%= link_to my_index_date(apply.created_at), apply %></td>
        <td><%= link_to apply.user.unit, apply, class: "applies-font-size" %></td>
        <td><%= link_to apply.category.name, apply %></td>
        <td><%= link_to apply.project.name, apply %></td>
        <td><%= my_index_date(apply.implement_time) rescue "格式错误" %></td>
        <td>
          <%= raw (verify_status apply) %>
        </td>
        <td>
          <%= raw (distribute_status apply) %>
        </td>
        <td><%= raw (apply_index_operators apply) %></td>
        <% if cadmin? %>
        <td><%= link_to '修改', edit_apply_path(apply), class: "btn btn-primary btn-xs", data: {no_turbolink: true} %> | <%= link_to '删除', apply, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: '你确定要删除吗？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @applies, renderer: BootstrapPagination::Rails, class: "will_paginate" %>
