<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3>配送一览</h3>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>申请时间</th>
      <th>申请组织</th>
      <th>申报类别</th>
      <th>项目名称</th>
      <th>实施时间</th>
      <th>Is back</th>
      <th>Is pass</th>
      <th>Is distribute</th>
      <th>附件下载</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
      <tr>
        <td><%= apply.created_at %></td>
        <td><%= apply.user.unit %></td>
        <td><%= apply.category.name %></td>
        <td><%= apply.project.name %></td>
        <td><%= apply.implement_time %></td>
        <td><%= apply.is_back %></td>
        <td><%= apply.is_pass %></td>
        <td><%= apply.is_distribute %></td>
        <td><%= link_to "申报单下载", apply.attachment.url %></td>
        <td><%= link_to 'Show', apply %></td>
        <td><%= link_to 'Edit', edit_apply_path(apply) %></td>
        <td><%= link_to 'Destroy', apply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

