<div class="page-header">
  <h3>配送一览</h3>
</div>

<div class="form-inputs form-inline">
  <%= search_form_for @q do |f| %>
    <div class="form-group col-md-3">
      <%= f.search_field :user_unit_or_category_name_or_project_name_or_implement_time_or_p_serial_cont, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.search_field :implement_time_gt, class: "form-control datetimepicker", placeholder: "实施时间>",autocomplete: "off" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.search_field :implement_time_lt, class: "form-control datetimepicker", placeholder: "实施时间<",autocomplete: "off" %>
    </div>
    <%= f.submit "搜索", class: "btn btn-default" %>
  <% end %>
</div>

<table class="table table-hover apply-index">
  <thead>
    <tr>
      <%= content_tag :th, sort_link(@q, :created_at, '申请时间') %>
      <%= content_tag :th, sort_link(@q, :user_unit, '申请组织') %>
      <%= content_tag :th, sort_link(@q, :category_name, '申报类别') %>
      <%= content_tag :th, sort_link(@q, :project_name, '项目名称') %>
      <%= content_tag :th, sort_link(@q, :implement_time, '意愿实施时间') %>
      <th>社区反馈</th>
      <th>配送反馈</th>
      <th colspan="1">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
      <tr class= "applies-font-size">
        <td><%= link_to my_index_date(apply.created_at), apply %></td>
        <td><%= link_to apply.user.unit, apply, class: "applies-font-size" %></td>
        <td><%= link_to apply.category.name, apply %></td>
        <td><%= link_to apply.project.name, apply %></td>
        <td><%= my_index_date(apply.implement_time) rescue "格式错误" %></td>
        <td>
          <%= raw (verify_status apply) %>
        </td>
        <td>
          <%= raw (distribute_status apply) %>
        </td>
        <td><%= raw (apply_index_operators apply) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @applies, renderer: BootstrapPagination::Rails, class: "will_paginate" %>
