<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @apply.user.unit %>
</p>

<p>
  <strong>Project:</strong>
  <%= @apply.project %>
</p>

<p>
  <strong>Category:</strong>
  <%= @apply.category %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @apply.requirement %>
</p>

<p>
  <strong>Site:</strong>
  <%= @apply.site %>
</p>

<p>
  <strong>Facilities:</strong>
  <%= @apply.facilities %>
</p>

<p>
  <strong>Address:</strong>
  <%= @apply.address %>
</p>

<p>
  <strong>Implement time:</strong>
  <%= @apply.implement_time %>
</p>
<% if @apply.attachment %>
<p>
  <strong>Attachment:</strong>
  <%= @apply.attachment.url %>
</p>
<% end %>

<% if current_user && current_user == @apply.user %>
<%= link_to '修改', edit_apply_path(@apply) %> |
<%= link_to '列表页', applies_path %>
<% end %>

<% if current_user && current_user.admin? && (@apply.verify.nil? || !@apply.verify.is_pass) %>
<% @verify = Verify.new({apply_id: @apply.id}) %>
<%= render 'verifies/form' %>
<% end %>

<% if current_user && current_user.distributor? && @apply.verify && @apply.verify.is_pass %>
<hr>
<p>
  <strong>Is pass:</strong>
  <%= @apply.verify.is_pass %>
</p>

<p>
  <strong>Content:</strong>
  <%= @apply.verify.content %>
</p>
<hr>
<% if !@apply.distribute.is_distribute %>
<% @distribute = Distribute.new({apply_id: @apply.id}) %>
<%= render 'distributes/form' %>
<% else %>
<p>
  <strong>Is distribute:</strong>
  <%= @apply.distribute.is_distribute %>
</p>
<% end %>
<% end %>
