<p id="notice"><%= notice %></p>

<table class="table table-bordered distribution">
  <thead>
  <tr class="text-center active">
    <th colspan="3" class="text-center"><h3>上海市公共体育服务社区配送申报</h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2">
      <div class="form-group">
        <label class="col-xs-4 control-label">申报单位</label>
        <div class="col-xs-8">
          <%= @apply.user.unit %>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <label class="col-xs-4 control-label">申报日期</label>
        <div class="col-xs-8">
          <%= my_date(Time.now) %>
        </div>
      </div>
    </td>

  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">申报项目类别</label>
        <div class="col-xs-8">
          <%= @apply.category.name %>
        </div>
      </div>
    </td>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">项目具体名称</label>
        <div class="col-xs-8">
          <%= @apply.project.name %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">项目编号</label>
        <div class="col-xs-8">
          <%= @apply.project.serial %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="text-center active">
      <label>项目实施计划</label>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          居民需求<br>调研情况简介
        </label>
        <div class="col-sm-8">
          <%= @apply.requirement %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">项目实施场地（类型和人数）</label>
        <div class="col-sm-8">
          <%= @apply.site %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">实施场地地址</label>
        <div class="col-sm-8">
          <%= @apply.address %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">意愿实施时间</label>
        <div class="col-sm-8">
          <%= @apply.implement_time %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">音箱及设备条件</label>
        <div class="col-sm-8">
          <%= @apply.facilities %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">下载配送申报</label>
        <div class="form-group col-sm-8">
          <% if @apply.attachment %>
            <%= link_to "申报单下载", @apply.attachment.url %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  <% unless @apply.verify.nil? && cadmin? %>
  <tr>
    <td colspan="3" class="text-center active">
      <% if @apply.verify %>
      <label>配送申报提交情况</label>
      <% else %>
      <label class="text-success">上海社区体育协会审核中...请等待通知</label>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% unless @apply.notifications.first.user == current_user && cadmin? && @apply.verify && !@apply.verify.is_pass %>
  <% if @apply.verify %>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">上海社区体育协会</label>
        <div class="col-sm-8">
          <%= raw(verify_status @apply) %>
        </div>
      </div>
    </td>
  </tr>
  <% if @apply.verify && !@apply.verify.is_pass %>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">申报退回理由:</label>
        <div class="col-sm-8">
          <%= simple_format @apply.verify.content %>
        </div>
      </div>
    </td>
  </tr>
  <% if params[:from] == "again" %>
  <tr>
    <td colspan="3" class="text-center active">
      <label class="text-success">已将修改提交到上海社区体育协会...请等待通知</label>
    </td>
  </tr>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  <% if @apply.verify && @apply.verify.is_pass %>
  <% if @apply.distribute %>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">配送中心</label>
        <div class="col-sm-8">
          <%= raw(distribute_status @apply) %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">状态</label>
        <div class="col-sm-8">
          <%= raw(show_feedback_status @apply) %>
        </div>
      </div>
    </td>
  </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

<% if current_user == @apply.user && @apply.notifications.first.user == current_user && !@apply.verify.is_pass %>
<%= link_to '重新提交 ', edit_apply_path(@apply), data: { no_turbolink: true } %> | <%= link_to '撤销申报', @apply, method: :delete, data: { confirm: '你确定要撤销吗？' } %>
<% end %>

<% if (@apply.verify.nil? || !@apply.verify.is_pass) && @apply.notifications.first.user == current_user && cadmin? %>
  <% if @apply.verify.nil? %>
  <% @verify = Verify.new({apply_id: @apply.id,is_pass: false}) %>
  <% else %>
  <% @verify = @apply.verify %>
  <% end %>
  <%= render 'verifies/form' %>
<% end %>
<% if @apply.distribute.nil? && @apply.notifications.first.user == current_user && @apply.verify && @apply.verify.user == current_user %>
  <div class="text-center active">
      <label>配送情况</label>
  </div>
  <hr>
  <% @distribute = Distribute.new({apply_id: @apply.id}) %>
  <center>
  <%= render 'distributes/form' %>
  </center>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    // $('input[name="verify[is_pass]"]').change(function(){
    //   if ($(this).val()==true) {
    //     $('#verify_content').prop('required',false);
    //     $('#verify_user_id').prop('required',true);
    //   } else {
    //     $('#verify_user_id').prop('required',false);
    //     $('#verify_content').prop('required',true);
    //   }
    // });
    $('#verify_btn').on('click',function(){
      var flag = $('input[name="verify[is_pass]"]:checked').val();
      if (flag == "true") {
        if($('#verify_user_id').val() == "") {
          $('#verify_user_id').focus();
          return false;
        }
      } else{
        if($('#verify_content').val() == "") {
          $('#verify_content').focus();
          return false;
        }
      };
    });
  });
</script>