<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @apply.user %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @apply.distributor %>
</p>

<p>
  <strong>Project:</strong>
  <%= @apply.project %>
</p>

<p>
  <strong>Category:</strong>
  <%= @apply.category %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @apply.requirement %>
</p>

<p>
  <strong>Site:</strong>
  <%= @apply.site %>
</p>

<p>
  <strong>Facilities:</strong>
  <%= @apply.facilities %>
</p>

<p>
  <strong>Address:</strong>
  <%= @apply.address %>
</p>

<p>
  <strong>Implement time:</strong>
  <%= @apply.implement_time %>
</p>

<p>
  <strong>Is back:</strong>
  <%= @apply.is_back %>
</p>

<p>
  <strong>Is pass:</strong>
  <%= @apply.is_pass %>
</p>

<p>
  <strong>Is distribute:</strong>
  <%= @apply.is_distribute %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @apply.attachment %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
