<table class="table table-bordered distribution">
  <thead>
  <tr class="text-center active">
    <th colspan="3" class="text-center"><h3>上海市公共体育服务社区配送申报</h3></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="2">
      <div class="form-group">
        <label class="col-xs-4 control-label">申报单位</label>
        <div class="col-xs-8">
          <%= @apply.user.unit %>
        </div>
      </div>
    </td>
    <td>
      <div class="form-group">
        <label class="col-xs-4 control-label">申报日期</label>
        <div class="col-xs-8">
          <%= my_date(Time.now) %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">配送ID</label>
        <div class="col-xs-8">
          <%= @apply.p_serial %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">申报项目类别</label>
        <div class="col-xs-8">
          <%= @apply.category.name %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">项目具体名称</label>
        <div class="col-xs-8">
          <%= @apply.project.name %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-xs-4 control-label">项目编号</label>
        <div class="col-xs-8">
          <%= @apply.project.serial %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3" class="text-center active">
      <label>项目实施计划</label>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">
          参与者年龄
        </label>
        <div class="col-sm-8">
          <%= @apply.requirement %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">参与人数</label>
        <div class="col-sm-8">
          <%= @apply.site %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">实施场地名称</label>
        <div class="col-sm-8">
          <%= @apply.address_name %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">实施场地地址</label>
        <div class="col-sm-8">
          <%= @apply.address %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">意愿实施时间</label>
        <div class="col-sm-8">
          <%= my_time(@apply.implement_time) %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">需要讲师/教练自备物品</label>
        <div class="col-sm-8">
          <%= @apply.facilities %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">联系人</label>
        <div class="col-sm-8">
          <%= @apply.contacts %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">联系电话</label>
        <div class="col-sm-8">
          <%= @apply.phone %>
        </div>
      </div>
    </td>
  </tr>
  <% unless @apply.verify.nil? && cadmin? %>
  <tr>
    <td colspan="3" class="text-center active">
      <% if @apply.verify %>
      <label>配送申报提交情况</label>
      <% else %>
      <label class="text-success">上海社区体育协会审核中...请等待通知</label>
      <% end %>
    </td>
  </tr>
  <% end %>
  <% unless @apply.notifications.first.user == current_user && cadmin? && @apply.verify && !@apply.verify.is_pass %>
  <% if @apply.verify %>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">上海社区体育协会</label>
        <div class="col-sm-8">
          <%= raw(verify_status @apply) %>
        </div>
      </div>
    </td>
  </tr>
  <% if @apply.verify && !@apply.verify.is_pass %>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">申报退回理由:</label>
        <div class="col-sm-8">
          <%= simple_format @apply.verify.content %>
        </div>
      </div>
    </td>
  </tr>
  <% if params[:from] == "again" %>
  <tr>
    <td colspan="3" class="text-center active">
      <label class="text-success">已将修改提交到上海社区体育协会...请等待通知</label>
    </td>
  </tr>
  <% end %>
  <% end %>
  <% end %>
  <% end %>
  <% if @apply.verify && @apply.verify.is_pass %>
  <% if @apply.distribute %>
  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">配送中心</label>
        <div class="col-sm-2">
          <%= raw(distribute_status @apply) %>
        </div>
        <div class="col-sm-2">
          教练姓名：<%= @apply.distribute.coaches %>
        </div>
        <div class="col-sm-4">
          联系电话：<%= @apply.distribute.phone %>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      <div class="form-group">
        <label class="col-sm-4 control-label">状态</label>
        <div class="col-sm-8">
          <%= raw(show_feedback_status @apply) %>
        </div>
      </div>
    </td>
  </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

<% if current_user == @apply.user && @apply.notifications.first.user == current_user && !@apply.verify.is_pass %>
<%= link_to '重新提交 ', edit_apply_path(@apply), data: { no_turbolink: true } %> | <%= link_to '撤销申报', @apply, method: :delete, data: { confirm: '你确定要撤销吗？' } %>
<% end %>

<% if (@apply.verify.nil? || !@apply.verify.is_pass) && @apply.notifications.first.user == current_user && cadmin? %>
  <% if @apply.verify.nil? %>
  <% @verify = Verify.new({apply_id: @apply.id,is_pass: false}) %>
  <% else %>
  <% @verify = @apply.verify %>
  <% end %>
  <%= render 'verifies/form' %>
<% end %>
<% if @apply.distribute.nil? && @apply.notifications.first.user == current_user && @apply.verify && @apply.verify.user == current_user %>

  <table class="table table-bordered">
    <tr>
      <th id="applies-distributes-wide">
        <label class="col-sm-4 control-label">配送情况</label>
      </th>
      <% @distribute = Distribute.new({apply_id: @apply.id}) %>
      <td>
        <div class="col-sm-8">
          <%= render 'distributes/form' %>
        </div>
      </td>
      </tr>
  </table>
<% end %>
