<p id="notice"><%= notice %></p>

<h3>最新通知</h3>

<table>
  <thead>
    <tr>
      <th>通知内容</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td>
          <%= raw notification.content %><!--<span class="label label-danger">未阅读</span> -->
          <%= content_tag(:span, "新通知", class: "label label-danger") unless notification.read %>
        </td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: '确认删除？'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
