

<p>
  <strong>User:</strong>
  <%= @notification.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<p>
  <strong>Notificationable type:</strong>
  <%= @notification.notificationable_type %>
</p>

<p>
  <strong>Notificationable:</strong>
  <%= @notification.notificationable_id %>
</p>

<%= link_to '修改', edit_notification_path(@notification) %> |
<%= link_to '列表页', notifications_path %>
