<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3>显示所有用户</h3>
</div>

<div class="form-inputs form-inline">
  <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.search_field :name_or_email_or_unit_cont, class: "form-control" %>
    </div>
    <%= f.submit "搜索", class: "btn btn-default" %>
  <% end %>
</div>
<br />
<div><%= link_to '新建用户', new_user_path, class: "btn btn-success" %></div>
<br />

<table class="table table-hover apply-index">
  <thead>
    <tr>
      <th>用户名</th>
      <th>Email</th>
      <th>组织机构</th>
      <th>权限</th>
      <th colspan="1">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.unit %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to '查看', user %> | <%= link_to '修改', edit_user_path(user) %> | <%= link_to '删除', user, method: :delete, data: { confirm: '你确定要删除吗？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails, class: "will_paginate" %>

