<p id="notice"><%= notice %></p>

<h1>显示所有用户</h1>

<table>
  <thead>
    <tr>
      <th>用户名</th>
      <th>组织机构</th>
      <th>是否是管理员</th>
      <th>权限</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.unit %></td>
        <td><%= user.is_admin ? '是' : '否' %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>

<%= link_to 'New User', new_user_path %>
