<div class="page-header">
  <h3>添加帐户</h3>
</div>
<%= form_for(@user,url: add_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :unit %><br>
        <%= f.text_field :unit, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :role_id %><br>
        <%= f.select :role_id, Role.all.collect { |p| [p.name, p.id] }  %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<br>
<%#= link_to '列表页', users_path %>
