<p id="notice"><%= notice %></p>

<p>
  <strong>用户名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>组织机构:</strong>
  <%= @user.unit %>
</p>

<p>
  <strong>是否是管理员:</strong>
  <%= @user.is_admin ? '是' : '否' %>
</p>

<p>
  <strong>权限:</strong>
  <%= @user.role.name %>
</p>

<%= link_to '修改账户信息', edit_user_path(@user) %>
