<table class="table table-bordered">
  <tbody>
  <tr>
    <th scope="row">用户名:</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th scope="row">组织机构:</th>
    <td><%= @user.unit %></td>
  </tr>
  <tr>
    <th scope="row">是否是管理员:</th>
    <td><%= @user.is_admin ? '是' : '否' %></td>
  </tr>
  <tr>
    <th scope="row">权限:</th>
    <td><%= @user.role.name %></td>
  </tr>
  <% if cadmin? %>
    <tr>
      <th scope="row">修改账户:</th>
      <td>
          <%= link_to '修改账户信息', edit_user_path(@user) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
