

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @project.serial %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category.name %>
</p>

<%= link_to '修改', edit_project_path(@project) %> |
<%= link_to '列表页', projects_path %>
