<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3>资料下载</h3>
</div>

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_cont %>
  <%= f.submit %>
<% end %>

<% if cadmin? %>
  <div><%= link_to '上传新资料', new_resource_path, class: "btn btn-success" %></div>
<% end %>
<br />

<div class="row">
  <ul class="list-unstyled">
    <% @resources.each do |resource| %>
      <li class="message-time-list">
        <div class="col-xs-10">
         <%= link_to resource.title, resource.attachment.url, :target=> "_blank" %>
        </div>

        <div class="col-xs-2">
          <% if cadmin? %>
            <%= link_to '删除', resource, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: '确认删除？' } %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= will_paginate @resources, renderer: BootstrapPagination::Rails, class: "will_paginate" %>



