<%= simple_form_for(@verify) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :apply_id, value: @verify.apply_id %>

  <table class="table table-bordered">
    <tr>
      <th rowspan="2">
        <%= f.input :is_pass, as: :radio_buttons, collection: [['批准', true] ,['退回', false]], label: '审批', class: "form-group form-control checkbox-inline" %>
      </th>
      <td>
        <%= f.association :user, label_method: :unit, collection: User.where(role_id: 3), label: '选择配送中心', class: "form-group" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.input :content, label: '审批退回理由' %>
      </td>
    </tr>
  </table>

  <div class="form-actions">
    <%= f.button :submit, "审批发送",id: "verify_btn" %>
  </div>
<% end %>



