<p id="notice"><%= notice %></p>

<h1>Listing Verifies</h1>

<table>
  <thead>
    <tr>
      <th>Is pass</th>
      <th>Apply</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verifies.each do |verify| %>
      <tr>
        <td><%= verify.is_pass %></td>
        <td><%= verify.apply %></td>
        <td><%= verify.content %></td>
        <td><%= link_to 'Show', verify %></td>
        <td><%= link_to 'Edit', edit_verify_path(verify) %></td>
        <td><%= link_to 'Destroy', verify, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verify', new_verify_path %>
