<%= simple_form_for(@feedback) do |f| %>
  <%= f.error_notification %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :apply_id %>
    <% if cdistributor? %>
      <% readonly = {readonly: true} %>
    <% else %>
      <% readonly = {} %>
    <% end %>
    <% apply = @feedback.apply %>
    <table class="table table-bordered distribution">
      <thead>
      <tr class="text-center active">
        <th colspan="3" class="text-center"><h4>上海公共体育服务社区配送<br>
          服务情况反馈表
        </h4></th>
      </tr>
      </thead>
      <form class="form-horizontal">
        <tbody>
        <tr>
          <td colspan="2">
            <div class="form-group">
              <label class="col-xs-4 control-label">申报单位</label>
              <div class="col-xs-8">
                <%= apply.user.unit %>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label class="col-xs-4 control-label">申报日期</label>
              <div class="col-xs-8">
                <%= my_date(apply.created_at) %>
              </div>
            </div>
          </td>

        </tr>
        <tr>
          <td colspan="3">
            <div class="form-group">
              <label class="col-xs-4 control-label">申报项目类别</label>
              <div class="col-xs-8">
                <%= apply.category.name %>
              </div>
            </div>
          </td>
        <tr>
          <td colspan="3">
            <div class="form-group">
              <label class="col-xs-4 control-label">项目具体名称</label>
              <div class="col-xs-8">
                <%= apply.project.name %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="form-group">
              <label class="col-xs-4 control-label">项目编号</label>
              <div class="col-xs-8">
                <%= apply.project.serial %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <div class="form-group">
              <label class="col-sm-4 control-label">配送内容</label>
              <div class="col-sm-8">
                <%= f.input :content, label: false, input_html: readonly %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <div class="form-group">
              <label class="col-sm-4 control-label">教练/专家/裁判（姓名）</label>
              <div class="col-sm-8">
                <%= f.input :coach, label: false, input_html: readonly %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <div class="form-group">
              <label class="col-sm-4 control-label">受众人数</label>
              <div class="col-sm-8">
                <%= f.input :population, label: false, input_html: readonly %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-center">
            <div class="form-group">
              <label class="col-sm-4 control-label">街道工作人员意见</label>
              <div class="col-sm-8">
                <%= f.input :suggestion, label: false, input_html: readonly %>
              </div>
            </div>
          </td>
        </tr>
        <% if cdistributor? %>
        <tr>
          <td colspan="3" class="text-center">
            <div class="form-group">
              <label class="col-sm-4 control-label">附件</label>
              <div class="col-sm-8">
                <% if @feedback.attachment %>
                  <%= link_to "下载", @feedback.attachment.url %>
                <% else %>
                  <%= link_to "无", "#" , class: "text-muted" %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <% else %>
        <tr>
          <td colspan="3" >
            注意：<br>
            提交反馈表需同时上传<strong>纸质反馈表照片</strong>或<strong>扫描件</strong>
            <div class="form-group">
              <label for="exampleInputFile">上传</label>
              <% if @feedback.attachment.url %>
              <br>
              已上传文件: <%= link_to(@feedback.attachment.file.filename, @feedback.attachment.url) %>
              <%= f.check_box :remove_attachment %>删除
              <% end %>
              <%= f.input :attachment,label: false %>
              <p class="help-block">上传格式JPG，PDF</p>
            </div>
          </td>
        </tr>
        <% end %>
        <% if cdistributor? %>
        <tr>
          <td colspan="3" class="text-center">
            <div class="form-group">
              <label class="col-sm-4 control-label">配送单位意见</label>
              <div class="col-sm-8">
                <%= f.input :distribute_advice, label: false %>
              </div>
            </div>
          </td>
        </tr>
        <script type="text/javascript">
          $(document).ready(function(){
            $('#distribute_btn').on('click',function(){
              var temp = $('#feedback_distribute_advice');
              if (temp.val() == "") {
                temp.focus();
                return false;
              };
            });
          });
        </script>
        <% end %>
        <tr>
          <td colspan="3">
            <%= f.button :submit, "提交配送服务情况反馈表", class: "btn btn-primary submit-apply", id: "distribute_btn" %>
          </td>
        </tr>
        </tbody>
      </form>
    </table>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#distribute_btn').on('click',function(){
      var content = $('#feedback_content');
      var coach = $('#feedback_coach');
      var population = $('#feedback_population');
      var suggestion = $('#feedback_suggestion');
      var attachment = $('#feedback_attachment');
      var remove_attachment = $('#feedback_remove_attachment');
      if (content.val() == "") {
        content.focus();
        return false;
      } else if (coach.val() == ""){
        coach.focus();
        return false;
      } else if (population.val() == ""){
        population.focus();
        return false;
      } else if (suggestion.val() == ""){
        suggestion.focus();
        return false;
      } else if(attachment.val() == "" && remove_attachment.length == 0) {
        attachment.focus();
        return false;
      } else if(attachment.val() == "" && $('#feedback_remove_attachment').prop("checked")) {
        attachment.focus();
        return false;
      }
    });
  });
</script>
