<p id="notice"><%= notice %></p>

<div class="page-header">
  <h3>申报类别</h3>
</div>

<% if current_user.admin? %>
  <div><%= link_to '新增申报类别项目', new_category_path, class: "btn btn-success" %></div>
<% end %>
<br />

<div class="row">
  <ul class="list-unstyled">
    <% @categories.each do |category| %>
      <li class="message-time-list">
        <div class="col-xs-10">
          <%= category.name %>
        </div>

        <div class="col-xs-2">
          <% if current_user.admin? %>
          <%= link_to '修改', edit_category_path(category), class: "btn btn-primary btn-xs" %> |
          <%= link_to '删除', category, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: '确认删除？' } %>
          <% end %>
        </div>

      </li>
    <% end %>
  </ul>
</div>

